@import "fonts";

// TODO remove all less and css file and add the logic to app-theme.html
html {
    font-size: 16px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background: #fafafa;
    color: #333;
}

.padding-left {
    padding-left: 1rem;
}

.padding-right {
    padding-right: 1rem;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    width: 100% !important;
    margin: 1rem 0 0 0;
}

.jira-project-name {
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
    text-overflow: ellipsis;
}

.button-wrapper {
    margin: 0.5rem 0 0 0;
    paper-button {
        margin: 0;
    }
}

#settings-checkbox-container {
    max-width: 29cm;
    margin-left: 0;
    box-sizing: border-box;
}

paper-button {
    background: #4285f4;
    color: #fff;
}

.slider-container {
    padding-left: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
}

.toggle-buttons-container {
    min-width: 150px;
    margin-bottom: 1rem;

    h3 {
        margin-top: 0;
    }
}

paper-dropdown-menu {
    paper-menu-button {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

iron-pages {
    box-sizing: border-box;
    height: ~"calc(100% - 112px)";
    overflow-y: auto;

    &.design {
        padding: 0 !important;
        height: 100%;
        background-color: white;
    }

    // todo add to media queries
    .design-options-container {
        padding: 48px 62px 0 48px;

        paper-button[toggles] {
            padding: 0;
            width: 30px;
            min-width: 30px;
            height: 30px;
            color: white;
            background: #a8a8a8;
            margin: 0 .5rem 0 0;
            &[active] {
                background: #3F51B5;
            }

            .content {
                padding: 3px 0;
            }
        }
    }
    // todo add to media queries
    .demo-card {
        min-height: 350px;
        background: #fafafa;
        padding: 0 62px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);

        .scrum-card {
            margin: 0;
        }
    }
}

// TODO check if needed
.settings-checkbox-container {
    paper-checkbox {
        margin: 1rem 1rem 1rem 0;
    }
    paper-material {
        height: auto !important;
    }
}

.align-element-to-paper-material {
    height: 60px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 7px;
    box-sizing: border-box;

    paper-checkbox {
        margin: 0;
    }
}

paper-dialog.pop-up-dialog {
    border: 2px solid rgba(0, 0, 0, 0.7);
    background-color: #fff;
    color: #000;
}

@media print {
    body {
        background: none;

        paper-drawer-panel {
            position: static !important;

            #drawer {
                display: none !important;
                width: 0 !important;
            }

            #main {
                transition: none !important;
                left: -0 !important;
                width: 100%;
            }

            iron-pages {
                height: auto;
                padding: 0 !important;
            }
        }
    }

    paper-toast,
    iron-a11y-announcer,
    paper-toolbar,
    .hide-from-print {
        display: none !important;
    }

}
